# binaries
*.pyc
.cache/
.coverage

# notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints

# test related
.pytest_cache/
pyvis/test.py

# local files
pyvis/full_graph.txt
pyvis/source/stormofswords.csv
rough/

# package details
pyvis.egg-info/
build/
dist/
pyvis/make.bat

# vscode specific
.vscode/
venv

# intellij specific
.idea/