<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

<style type="text/css">

        #mynetwork {
            max-width: {{width}};
            max-height: {{height}};
            background-color: {{bgcolor}};
            border: 1px solid lightgray;
            position: relative;
            overflow: hidden;
        }
</style>

</head>

<body>
<div id = "mynetwork"></div>
<script type="text/javascript">

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;

    
    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');
        
        {% if use_DOT %}

        var DOTstring = "{{dot_lang|safe}}";
        var parsedData = vis.network.convertDot(DOTstring);
        
        data = {
          nodes: parsedData.nodes,
          edges: parsedData.edges
        }
        
        var options = parsedData.options;
        options.nodes = {
            shape: "dot"
        }
        
        {% else %}

        // parsing and collecting nodes and edges from the python
        nodes = {{nodes|safe}};
        edges = {{edges|safe}};

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {{options|safe}};
        
        {% endif %}

        // default to using dot shape for nodes
        options.nodes = {
            shape: "dot"
        }

        network = new vis.Network(container, data, options);
        return network;

    }

    drawGraph();

</script>
</body>
</html>